$color-primary: #10B587;
$color-primary-dark: #0ea47a;
$color-primary-darker: #0B8867;

$color-secondary: #b5107d;
$color-secondary-dark: #a40e71;
$color-secondary-darker: #8B0B61;

$tertiary-color: #FFB135;