/*
 * GEMMA/ALIGN
 *
 * Set text-alignment.
 *
 */

.u-align-left { text-align: left; }
.u-align-right { text-align: right; }
.u-align-center { text-align: center; }

@media screen and (min-width: $screen-md-min) {
  ._md-u-align-left { text-align: left; }
  ._md-u-align-right { text-align: right; }
  ._md-u-align-center { text-align: center; }
}

@media screen and (min-width: $screen-lg-min) {
  ._lg-u-align-left { text-align: left; }
  ._lg-u-align-right { text-align: right; }
  ._lg-u-align-center { text-align: center; }
}

@media screen and (min-width: $screen-xl-min) {
  ._xl-u-align-left { text-align: left; }
  ._xl-u-align-right { text-align: right; }
  ._xl-u-align-center { text-align: center; }
}

