/*
	Overrides - Typography
*/

.fontFamily-sans  { font-family: var(--fontFamily-sans) !important; }
.fontFamily-serif { font-family: var(--fontFamily-serif) !important; }
.fontFamily-mono  { font-family: var(--fontFamily-mono) !important; }

.fontWeight-thin 	 { font-weight: var(--fontWeight-thin) !important; }
.fontWeight-normal { font-weight: var(--fontWeight-normal) !important; }
.fontWeight-bold 	 { font-weight: var(--fontWeight-bold) !important; }

.lineHeight-0{ line-height: var(--scale-0)); };
.lineHeight-1{ line-height: var(--scale-1)); };
.lineHeight-2{ line-height: var(--scale-2)); };
.lineHeight-3{ line-height: var(--scale-3)); };

.fontSize-n1 { font-size: var(--fontSize-n1) !important; }
.fontSize-1  { font-size: var(--fontSize-1) !important; }
.fontSize-2  { font-size: var(--fontSize-2) !important; }
.fontSize-3  { font-size: var(--fontSize-3) !important; }
.fontSize-4  { font-size: var(--fontSize-4) !important; }
.fontSize-5  { font-size: var(--fontSize-5) !important; }
.fontSize-6  { font-size: var(--fontSize-6) !important; }
.fontSize-7  { font-size: var(--fontSize-7) !important; }
.fontSize-8  { font-size: var(--fontSize-8) !important; }

@media(--screen-sm-max) {
	.fontSize-n1 { font-size: var(--mobile-fontSize-n1) !important; }
	.fontSize-1  { font-size: var(--mobile-fontSize-1) !important; }
	.fontSize-2  { font-size: var(--mobile-fontSize-2) !important; }
	.fontSize-3  { font-size: var(--mobile-fontSize-3) !important; }
	.fontSize-4  { font-size: var(--mobile-fontSize-4) !important; }
	.fontSize-5  { font-size: var(--mobile-fontSize-5) !important; }
	.fontSize-6  { font-size: var(--mobile-fontSize-6) !important; }
	.fontSize-7  { font-size: var(--mobile-fontSize-7) !important; }
	.fontSize-8  { font-size: var(--mobile-fontSize-8) !important; }
}

.uppercase  	{ text-transform: uppercase !important; }
.lowercase  	{ text-transform: lowercase !important; }
.capitalize 	{ text-transform: capitalize !important; }
.smallcaps  	{ font-variant: small-caps !important; }
.underline  	{ text-decoration: underline !important; }
.overline		{ text-decoration: overline !important; }
.line-through 	{ text-decoration: line-through !important; }