@import 'styles/src/main.css';

.breakpoint-display {
	position: fixed;
	top: 0;
	right: 5px;
	width: auto;
	text-align: right;
	background: rgba(255,255,255,.9);
	border-radius: 0 0 2px 2px;
	font-size: 22px;
	padding: 5px 10px;
	border-radius: 0 0 3px 3px;

	&:before {
		display: inline-block;
		content: 'Breakpoint: xxs ';
	}
	&:after {
		display: inline-block;
		content: "(0 - 399px)";
	}
	@media (--screen-xs-min) {
		&:before { content: 'Breakpoint: --xs'; }
		&:after { content: '(400 - 511px)'; }
	}
	@media (--screen-sm-min) {
		&:before { content: 'Breakpoint: --sm'; }
		&:after { content: '(512 - 767px)'; }
	}
	@media (--screen-md-min) {
		&:before { content: 'Breakpoint: --md'; }
		&:after { content: '(768 - 1023px)'; }

	}
	@media (--screen-lg-min) {
		right: calc(50% - 512px);
		&:before { content: 'Breakpoint: --lg'; }
		&:after { content: '(1024 - 1439px)'; }
	}
	@media (--screen-xl-min) {
		&:before { content: 'Breakpoint: --xl'; }
		&:after { content: '(1440 - 1919px)'; }
	}
	@media (--screen-xxl-min) {
		&:before { content: 'Breakpoint: --xxl'; }
		&:after { content: '(1920px +)'; }
	}
}
.wrapper {
	padding: 0 10px;
	max-width: 1024px;
	margin: 0 auto;
}



.demo-header {
	background-color: #56FFED;
}

.demo-header .wrapper {
	position: relative;
}
.demo-title {
	color: black;
	margin-bottom: 0;
}

.demo-nav {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			display: inline-block;
		}
	}
	a {
		font-weight: 300;
		font-size: 24px;
		color: var(--color-nearBlack);
		margin-right: 15px;
		&:hover {
			border-bottom: none;
			color: #5B5E5F;
		}
	}
}

.demo-page__title {
	font-weight: 300;
	font-family: sans-serif;
	margin-bottom: var(--spacing-line);
}
.demo-section {
	margin-bottom: 50px;
}
.demo-section__title {
	border-bottom: 2px solid;
	font-weight: 300;
	font-family: sans-serif;
}
.demo-section__subtitle {
	font-weight: 300;
	font-family: sans-serif;
}

.demo-callout {
	display: block;
	text-align: center;
	margin: var(--spacing-line) auto;
	a {
		display: inline-block;
	}
	img {
		display: inline-block;
	}
	figcaption {
		font-style: normal;
		font-size: 24px;
	}
}