$color-primary: #10B587;
$color-primary-dark: #0ea47a;
$color-primary-darker: #0e9b73;

$color-secondary: #b5107d;
$color-secondary-dark: #a40e71;
$color-secondary-darker: #960d68;

$tertiary-color: #FFB135;