/*
	Utilities (Surface) -- Background
*/

.u-bc-primary 			{ background-color: var(--color-primary); }
.u-bc-primary-dark 		{ background-color: var(--color-primary-dark); }
.u-bc-secondary 		{ background-color: var(--color-secondary); }
.u-bc-secondary-dark 	{ background-color: var(--color-secondary-dark); }
.u-bc-tertiary 			{ background-color: var(--color-tertiary); }
.u-bc-tertiary-dark 	{ background-color: var(--color-tertiary-dark); }