/* 
	Utilities (Surface) -- Color
*/

.u-color-primary 		{ color: var(--color-primary); }
.u-color-primary-dark 	{ color: var(--color-primary-dark); }
.u-color-secondary 		{ color: var(--color-secondary); }
.u-color-secondary-dark { color: var(--color-secondary-dark); }
.u-color-tertiary 		{ color: var(--color-tertiary); }
.u-color-tertiary-dark 	{ color: var(--color-tertiary-dark); }