/*
	Utilities (Surface) - Font
*/

.u-sans  { font-family: var(--font-family-sans); }
.u-serif { font-family: var(--font-family-serif); }
.u-mono  { font-family: var(--font-family-mono); }

.u-fw-thin { font-weight: var(--font-weight-thin); }
.u-fw-normal { font-weight: var(--font-weight-normal); }
.u-fw-bold { font-weight: var(--font-weight-bold); }

.u-fs-n1 { font-size: var(--font-size-n1) }
.u-fs-1  { font-size: var(--font-size-1) }
.u-fs-2  { font-size: var(--font-size-2) }
.u-fs-3  { font-size: var(--font-size-3) }
.u-fs-4  { font-size: var(--font-size-4) }
.u-fs-5  { font-size: var(--font-size-5) }
.u-fs-6  { font-size: var(--font-size-6) }
.u-fs-7  { font-size: var(--font-size-7) }
.u-fs-8  { font-size: var(--font-size-8) }