.block-1 {
	margin-top: var(--sp-1);
	margin-bottom: var(--sp-1);
}
.block-2 {
	margin-top: var(--sp-2);
	margin-bottom: var(--sp-2);
}
.block-3 {
	margin-top: var(--sp-3);
	margin-bottom: var(--sp-4);
}

@media (--screen-md) {
	.block-1 {
		margin-top: var(--sp-2);
		margin-bottom: var(--sp-2);
	}
	.block-2 {
		margin-top: var(--sp-3);
		margin-bottom: var(--sp-3);
	}
	.block-3 {
		margin-top: var(--sp-4);
		margin-bottom: var(--sp-4);
	}
}