.u-border-1 {
	border: 1px solid;
}
.u-border-2 {
	border: 2px solid;
}
.u-border-3 {
	border: 3px solid;
}

.u-border {
	border: var(--border-width) solid;
}
.u-border-bottom {
	border-bottom: var(--border-width) solid;
}