.border		   { border: var(--borderWidth) solid var(--borderColor); }
.border-right  { border-right: var(--borderWidth) solid var(--borderColor); }
.border-bottom { border-bottom: var(--borderWidth) solid var(--borderColor); }
.border-left   { border-left: var(--borderWidth) solid var(--borderColor); }
.border-top    { border-top: var(--borderWidth) solid var(--borderColor); }

.border-light 		 { border: var(--borderWidth) solid var(--borderColor-light); }
.border-right-light  { border-right: var(--borderWidth) solid var(--borderColor-light); }
.border-bottom-light { border-bottom: var(--borderWidth) solid var(--borderColor-light); }
.border-left-light   { border-left: var(--borderWidth) solid var(--borderColor-light); }
.border-top-light    { border-top: var(--borderWidth) solid var(--borderColor-light); }