.link--reset, 
.link--reset:visited {
	color: currentColor;
	border-bottom: 0;
}
.link--reset:focus, 
.link--reset:hover {
	color: currentColor;
	border-bottom: 0;
}

.link--reset a{
	&, 
	&:hover, 
	&:visited,
	&:focus {
		color: currentColor;
		border-bottom: 0;
	}
}

.link--fake, .link--fake:visited {
	color: var(--color-link);
	border-bottom: 2px solid transparent;
}
.link--fake:focus, .link--fake:hover {
	color: var(--color-link-hover);
	outline: none;
	border-bottom: 2px solid currentColor;
}