/*
	Utilities - Typography

	This file contains simple classes for typographic changes, like copying
	header styling and smallcaps.
*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-rendering: optimizeLegibility;
  font-family: var(--font-family-heading);
}

.h6 { font-size: var(--font-size-n1); margin-bottom: var(--spacing-1); }
.h5 { font-size: var(--font-size-1); margin-bottom: var(--spacing-1); }
.h4 { font-size: var(--font-size-2); margin-bottom: var(--spacing-1); }
.h3 { font-size: var(--font-size-3); margin-bottom: var(--spacing-1); }
.h2 { font-size: var(--font-size-4); margin-bottom: var(--spacing-1); }
.h1 { font-size: var(--font-size-6); margin-bottom: var(--spacing-1); }

@media (--screen-md-min) {
	.h3 { margin-bottom: var(--spacing-2); }
	.h2 { margin-bottom: var(--spacing-2); }
	.h1 { margin-bottom: var(--spacing-2); }
}

@media (--screen-sm-max) {
	.h6 { font-size: var(--mobile-font-size-n1); }
	.h5 { font-size: var(--mobile-font-size-1); }
	.h4 { font-size: var(--mobile-font-size-2); }
	.h3 { font-size: var(--mobile-font-size-3); }
	.h2 { font-size: var(--mobile-font-size-4); }
	.h1 { font-size: var(--mobile-font-size-5); }
}