/*
	Utilities - Typography

	This file contains simple classes for typographic changes, like copying
	header styling and smallcaps.
*/

/*
	Note: If you change the header styles here, make sure to change the accompanying
		default header in the base/_defaults.css file if you wish to stay consistent.
*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-rendering: optimizeLegibility;
  font-family: var(--fontFamily-heading);
}

.h6 { font-size: var(--fontSize-n1); margin-bottom: var(--spacing-half); }
.h5 { font-size: var(--fontSize-1); margin-bottom: var(--spacing-1); }
.h4 { font-size: var(--fontSize-2); margin-bottom: var(--spacing-1); }
.h3 { font-size: var(--fontSize-3); margin-bottom: var(--spacing-1); }
.h2 { font-size: var(--fontSize-4); margin-bottom: var(--spacing-1); }
.h1 { font-size: var(--fontSize-6); margin-bottom: var(--spacing-1); }

@media (--screen-md-min) {
	.h2 { margin-bottom: var(--spacing-2); }
}

@media (--screen-sm-max) {
	.h6 { font-size: var(--mobile-fontSize-n1); }
	.h5 { font-size: var(--mobile-fontSize-1); }
	.h4 { font-size: var(--mobile-fontSize-2); }
	.h3 { font-size: var(--mobile-fontSize-3); }
	.h2 { font-size: var(--mobile-fontSize-4); }
	.h1 { font-size: var(--mobile-fontSize-5); }
}