.cf {
	overflow: auto;
}
.float-r {
	float: right;
}
.float-l {
	float: left;
}

.site-container {
	max-width: 72rem;
	margin: auto;
}

@media screen and (min-width: $screen-xl-min) {
	.site-container {
		max-width: 80rem;
	}
}