<h1 class="demo-title">Components</h1>
<section class="l-section-1">
	<h2 class="demo-title--2">Buttons</h2>
	<h3 class="demo-title--3">Size modifiers and Default</h3>
	<section class="l-section-2">
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--tiny">.c-btn--tiny</button>
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--small">.c-btn--small</button>
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn no-focus">.c-btn</button>
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--large">.c-btn--large</button>
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--huge">.c-btn--huge</button>
		</div>
	</section>
	<section class="l-section-2">
		<h3 class="demo-title--3">Color modifiers</h3>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--primary">Primary Button</button><br>
			.c-btn--primary
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--secondary">Secondary Button</button><br>
			.c-btn--secondary
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--tertiary">Teritiary Button</button><br>
			.c-btn--secondary
		</div>
	</section>
	<section class="l-section-2">
		<h3 class="demo-title--3">Other</h3>
		<div class="display-b _md-display-ib">
			<button class="c-btn--primary-round">I'm Curvy</button>
		</div>
	</section>
	<section class="l-section-2">
		<h3 class="demo-title--3">Mix and Match</h3>
		<div class="display-b _md-display-ib margin-b-1 margin-r-2">
			<button class="c-btn--large-secondary">Click on my face</button><br>
			.c-btn--large-secondary
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--primary-small">No wait, click Me!!!</button><br>
			.c-btn--primary-small
		</div>
	</section>
	<section class="l-section-2">
		<h3 class="demo-title--3">Groups</h3>
		.c-btn-group
		<div class="c-btn-group margin-b-1">
			<button class="c-btn--primary">One</button>
			<button class="c-btn--secondary">Two</button>
			<button class="c-btn--tertiary">Three</button>
		</div>

		.c-btn-group--fill
		<div class="c-btn-group--fill margin-b-1">
			<button class="c-btn--primary">One</button>
			<button class="c-btn--secondary">Two</button>
			<button class="c-btn--tertiary">Three</button>
			<button class="c-btn--primary">Four</button>
		</div>

		.c-btn-group--fill <span class="fontSize-1">(with wrappers around buttons)</span>
		<div style="max-width: 600px;" class="border padding-2 margin-b-1">
			<div class="c-btn-group--fill">
				<div class="padding-r-1">
					<button class="c-btn--primary">One</button>
				</div>
				<div class="padding-r-1">
					<button class="c-btn--secondary">Two</button>
				</div>
			</div>
		</div>

		.c-btn-group--round
		<div class="c-btn-group--round  margin-b-1">
			<button class="c-btn--primary">One</button>
			<button class="c-btn--secondary">Two</button>
			<button class="c-btn--tertiary">Three</button>
		</div>

		.c-btn-group--round-fill
		<div class="c-btn-group--round-fill  margin-b-1">
			<button class="c-btn--primary">One</button>
			<button class="c-btn--secondary">Two</button>
			<button class="c-btn--tertiary">Three</button>
			<button class="c-btn--primary">Four</button>
		</div>
	</section>
	<section class="l-section-2">
		<h3 class="demo-title--3">Disabled</h3>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--primary" disabled>Button</button>
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--secondary" disabled>Button</button>
		</div>
		<div class="display-b _md-display-ib margin-b-1">
			<button class="c-btn--tertiary" disabled>Button</button>
		</div>
	</section>
</section>
<section class="l-section-1">
	<h2 class="demo-title--2">Forms</h2>
	<p class="u-line-length">With the use of the included grid system and a parent <code>.c-form</code> class, it's easy to get a simple form up and running quickly. All heights are based on font size, so it's easy to make smaller or larger elements</p>
	
	<form class="c-form" id="test-form" ng-class="$ctrl.sizeClass">
	{{$ctrl.hello}}
		<div class="c-btn-group margin-b-2">
			<button class="c-btn--primary-tiny" ng-click="$ctrl.changeFormSize('small')">Small</button>
			<button class="c-btn--secondary-tiny" ng-click="$ctrl.changeFormSize('normal')">Normal</button>
			<button class="c-btn--tertiary-tiny" ng-click="$ctrl.changeFormSize('large')">Large</button>
		</div>
		<div class="grid-3_sm-1">
			<div class="col" data-push-right="off-8_sm-0">
       			<label for="text">Text</label>
	            <input type="text" name="text">
			</div>
			<div class="col" data-push-right="off-8_sm-0">
	            <label for="text">Text</label>
	            <input type="text" name="text">
       		</div>
       		<div class="col-3_sm-12">
       			<label for="select">Select</label>
	            <select name="select" id="select">
	            	<option selected disabled></option>
	            	<optgroup label="Girls">
	            		<option value="sugar">Sugar</option>
	            		<option value="spice">Spice</option>
	            		<option value="everythingnice">Everything Nice</option>
	            	</optgroup>
	            	<optgroup label="Boys">
	            		<option value="snips">Snips</option>
	                    <option value="snail">Snails</option>
	                    <option value="tail">Puppydog Tails</option>
	            	</optgroup>
	            </select>
	        </div>
       		<div class="col-3_sm-12">
       			<label for="text">Text</label>
	            <input type="text" name="text">
	        </div>
	        <div class="col-6_sm-12">
       			<label for="text">Text</label>
	            <input type="text" name="text">
	        </div>
            <div class="col">
       			<label for="text">Text</label>
	            <input type="text" name="text">
	        </div>
            <div class="col">
            	<label for="datalist">Datalist</label>
	            <input list="resorts" name="datalist">
	            <datalist id="resorts">
	            	<option value="Arapahoe Basin">
	            	<option value="Breckenridge">
	            	<option value="Crested Butte">
	            	<option value="Keystone">
	            	<option value="Telluride">
	            	<option value="Vail">
	            </datalist>
            </div>
            <div class="col">
            	<label for="date">Date</label>
            	<input type="date" name="date">
            </div>
       		<div class="col-8_sm-12">
       			<label for="text">Text</label>
	            <input type="text" name="text">
       		</div>
       		<div class="col">
       			<label for="text">Text (disabled)</label>
	            <input type="text" name="text" disabled>
	        </div>
	        <div class="col" data-push-right="off-8_sm-0">
            	<label for="color">Color</label>
            	<input type="color" name="color">
            </div>
            <div class="col" data-push-right="off-8_sm-0">
				<label for="textarea">Textarea</label>
            	<textarea name="textarea" id="textarea" cols="30" rows="5">She sells sea shells by the sea shore.</textarea><br>
			</div>
            <div class="col">
        		<label for="range">Range</label>
            	<input type="range" name="range">
        	</div>
			<div class="col-8_sm-12 grid-6_sm-1">
				<div class="col">
					<label class="display-b">Toggle</label>
					<div class="checkbox-toggle">
						<input type="checkbox" name="toggle" id="toggle">
						<label for="toggle"></label>
					</div>
				</div>
				<div class="col">
					<label class="display-b">Round</label>
					<div class="checkbox-round">
						<input type="checkbox" name="round" id="round">
						<label for="round"></label>
					</div>
				</div>
				<div class="col">
					<label class="display-b">Square</label>
					<div class="checkbox-square">
						<input type="checkbox" name="square" id="square">
						<label for="square"></label>
					</div>
				</div>
			</div>
	    </div>
	</form>
</section>