@import '../../styles/src/main.css';
body {
	color: #333;
}

.breakpoint-display {
	position: fixed;
	top: 0;
	width: 100%;
	text-align: left;
	background: rgba(255,255,255,.8);
	font-size: var(--fontSize-2);
	padding: 10px 30px;
	border-radius: 0 0 3px 3px;

	&:before {
		display: inline-block;
		content: 'Breakpoint: --xxs ';
	}
	@media (--screen-xs-min) {
		&:before { content: 'Breakpoint: --xs'; }
	}
	@media (--screen-sm-min) {
		right: 5px;
		width: auto;
		&:before { content: 'Breakpoint: --sm'; }
	}
	@media (--screen-md-min) {
		&:before { content: 'Breakpoint: --md'; }
	}
	@media (--screen-lg-min) {
		right: calc(50% - 51.2rem);
		&:before { content: 'Breakpoint: --lg'; }
	}
	@media (--screen-xl-min) {
		&:before { content: 'Breakpoint: --xl'; }
	}
	@media (--screen-xxl-min) {
		&:before { content: 'Breakpoint: --xxl'; }
	}
}

header {
	margin-top: 50px;
	@media (--screen-sm-min) {
		margin-top: 0;
	}
}

.demo-header {
	background: linear-gradient(2deg, #49B1FF -50%, #56FFED 25%, #49FF85 150%);
}

.demo-gradient {
	background: linear-gradient(2deg, #49B1FF -50%, #56FFED 25%, #49FF85 150%);
}

.demo-site-title {
	display: inline-block;
	margin-bottom: 0;
	font-family: var(--fontFamily-serif);
	a {
		color: var(--color-nearBlack);
		border-bottom: none;

		&:hover {
			border-bottom: none;
		}
	}
}

.demo-nav {
	display: inline-block;
	margin-left: 20px;
	color: ;
	a {
		font-size: 24px;
		font-weight: 400;
		margin-right: 15px;

		&:hover, &:focus {
			color: #5B5E5F;
		}
	}
}


.demo-table-wrapper {
	max-width: 100%;
	overflow-x: auto;
}

.demo-callout {
	display: inline-block;
	text-align: center;
	margin: var(--spacing-line) auto;
	a {
		display: inline-block;
	}
	img {
		display: inline-block;
	}
	figcaption {
		font-style: normal;
		font-size: var(--fontSize-2);
	}
}

.demo-colors {
	padding: .5rem;
}
.demo-colors .col {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	text-shadow: 0px 0px 8px white;
}

.red-1 { background: var(--color-red-100); }
.red-3 { background: var(--color-red-300); }
.red-5 { background: var(--color-red-500); }
.red-7 { background: var(--color-red-700); }
.red-9 { background: var(--color-red-900); }

.yellow-1 { background: var(--color-yellow-100); } 
.yellow-3 { background: var(--color-yellow-300); } 
.yellow-5 { background: var(--color-yellow-500); } 
.yellow-7 { background: var(--color-yellow-700); } 
.yellow-9 { background: var(--color-yellow-900); } 

.green-1 { background: var(--color-green-100); }
.green-3 { background: var(--color-green-300); } 
.green-5 { background: var(--color-green-500); } 
.green-7 { background: var(--color-green-700); } 
.green-9 { background: var(--color-green-900); } 

.aqua-1 { background: var(--color-aqua-100); }
.aqua-3 { background: var(--color-aqua-300); }
.aqua-5 { background: var(--color-aqua-500); }
.aqua-7 { background: var(--color-aqua-700); }
.aqua-9 { background: var(--color-aqua-900); }
 
.cyan-1 { background: var(--color-cyan-100); }
.cyan-3 { background: var(--color-cyan-300); }
.cyan-5 { background: var(--color-cyan-500); }
.cyan-7 { background: var(--color-cyan-700); }
.cyan-9 { background: var(--color-cyan-900); }
 
.blue-1 { background: var(--color-blue-100); }
.blue-3 { background: var(--color-blue-300); }
.blue-5 { background: var(--color-blue-500); }
.blue-7 { background: var(--color-blue-700); }
.blue-9 { background: var(--color-blue-900); }

.purple-1 { background: var(--color-purple-100); } 
.purple-3 { background: var(--color-purple-300); } 
.purple-5 { background: var(--color-purple-500); } 
.purple-7 { background: var(--color-purple-700); } 
.purple-9 { background: var(--color-purple-900); } 

.violet-1 { background: var(--color-violet-100); } 
.violet-3 { background: var(--color-violet-300); } 
.violet-5 { background: var(--color-violet-500); } 
.violet-7 { background: var(--color-violet-700); } 
.violet-9 { background: var(--color-violet-900); } 

.magenta-1 { background: var(--color-magenta-100); }
.magenta-3 { background: var(--color-magenta-300); }
.magenta-5 { background: var(--color-magenta-500); }
.magenta-7 { background: var(--color-magenta-700); }
.magenta-9 { background: var(--color-magenta-900); }

.gray-1 { background: var(--color-gray-100); }
.gray-3 { background: var(--color-gray-300); }
.gray-5 { background: var(--color-gray-500); }
.gray-7 { background: var(--color-gray-700); }
.gray-9 { background: var(--color-gray-900); }

.warmGray-1 { background: var(--color-warmGray-100); }
.warmGray-3 { background: var(--color-warmGray-300); }
.warmGray-5 { background: var(--color-warmGray-500); }
.warmGray-7 { background: var(--color-warmGray-700); }
.warmGray-9 { background: var(--color-warmGray-900); }

.coolGray-1 { background: var(--color-coolGray-100); }
.coolGray-3 { background: var(--color-coolGray-300); }
.coolGray-5 { background: var(--color-coolGray-500); }
.coolGray-7 { background: var(--color-coolGray-700); }
.coolGray-9 { background: var(--color-coolGray-900); }

.color-black {
	background: var(--color-black);
	color: white;
	text-shadow: none !important;
}
.color-nearBlack {
	background: var(--color-nearBlack);
	color: white;
	text-shadow: none !important;
}
.color-code { background: var(--color-code); }
.color-focus { background: var(--color-focus); }
.color-text { color: var(--color-text); }
.color-text-light { color: var(--color-text-light); }
.color-link { color: var(--color-link); }
.color-link-hover { color: var(--color-link-hover); }
.color-highlight { background: var(--color-highlight); }

.theme-color {
	text-align: center;
	padding-top: 15px;
}

.demo__box-shadows .col {
	min-height: 100%;
	> div {
		height: calc(100% - var(--spacing-2));
	}
}

.code-comment {
	color: var(--color-text-light);
}

.docs-wrapper {
	display: flex;
}

.docs-sidebar {
	width: 150px;
	padding-right: var(--spacing-1);
	padding-top: var(--spacing-half);
	margin-right: var(--spacing-3);
}

.docs-menu {
	width: 150px;
	background: rgba(255,255,255,.9);
}
.docs-menu.stickied {
	position: fixed;
	top: 0;
	margin-top: 0;
	padding-top: 5px;
	border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.docs-menu__item {
	font-size: var(--fontSize-2);
	&.active > a {
		border-right-color: var(--color-primary);
	}

	& > a {
		display: block;
		padding-right: var(--spacing-1);
		border-right: 2px solid white;
		@extend .link--reset;

		&:hover {
			border-right-color: var(--color-primary);
		}
	}

	& > ul {
		display: none;
		margin-bottom: 0;
	}
	&.active > ul {
		display: block;
	}
}

.docs-submenu {
	font-size: var(--fontSize-1);
	padding-left: var(--spacing-2);
}

.docs-submenu > li {
	cursor: pointer;
}

.demo-title--4 {
	font-size: var(--fontSize-1);
	margin-bottom: var(--spacing-half);
}
