/* 
	Settings -- Spacing
*/
:root {

	--spacing-quarter: calc(var(--base-font-rem) / 4);	/* 4px   */
	--spacing-half: calc(var(--base-font-rem) / 2);     /* 8px   */
	--spacing-1: calc(var(--base-font-rem));       		/* 16px  */
	--spacing-2: calc(var(--spacing-1) * 2);      		/* 32px  */
	--spacing-3: calc(var(--spacing-1) * 3);      		/* 48px  */
	--spacing-4: calc(var(--spacing-1) * 4);        	/* 64px  */
	--spacing-line: calc(1em * var(--lineHeight));		/* Whatever font size on element is times the line-height */

	/* 
		Note: if you change this value, you should change the value of the
			--screen-site-container variable as well, found in _s-breakpoints.css
	*/
	--site-container-width: 102.4rem;  	/* 1024px */

	--gutter-width: var(--spacing-1);   /* 16px */
}
