
/*
	--- Typography ---
	Size/weight
	Families
	Line height

*/
:root {
	--base-font-px: 16px;
	--base-font-rem: calc(1.8 * 1rem);
	--mobile-base-font-rem: calc(1.6 * 1rem);

	--lineHeight: 1.45;

	--fontSize-n1: calc(var(--base-font-rem) * var(--scale-n1));
	--fontSize-1:  calc(var(--base-font-rem) * var(--scale-0));
	--fontSize-2:  calc(var(--base-font-rem) * var(--scale-1));
	--fontSize-3:  calc(var(--base-font-rem) * var(--scale-2));
	--fontSize-4:  calc(var(--base-font-rem) * var(--scale-3));
	--fontSize-5:  calc(var(--base-font-rem) * var(--scale-4));
	--fontSize-6:  calc(var(--base-font-rem) * var(--scale-5));
	--fontSize-7:  calc(var(--base-font-rem) * var(--scale-6));
	--fontSize-8:  calc(var(--base-font-rem) * var(--scale-7));

	--mobile-fontSize-n1: calc(var(--mobile-base-font-rem) * var(--mobile-scale-n1));
	--mobile-fontSize-1:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-0));
	--mobile-fontSize-2:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-1));
	--mobile-fontSize-3:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-2));
	--mobile-fontSize-4:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-3));
	--mobile-fontSize-5:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-4));
	--mobile-fontSize-6:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-5));
	--mobile-fontSize-7:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-6));
	--mobile-fontSize-8:  calc(var(--mobile-base-font-rem) * var(--mobile-scale-7));

	--fontWeight-thin: 300;
	--fontWeight-normal: 400;
	--fontWeight-bold: 600;

	--fontFamily-sans: Helvetica, Arial, sans-serif;
	--fontFamily-serif: Georgia, Cambria, Times, serif;
	--fontFamily-mono: Consolas, Courier, monospace;
	--fontFamily-heading: var(--fontFamily-sans);

}
