/* 
	Settings >> Spacing
*/
:root {

	--spacing-half: .5rem;      /* 5px   */
	--spacing-1: 1rem;       	/* 10px  */
	--spacing-2: 2rem;      	/* 20px  */
	--spacing-3: 3rem;      	/* 30px  */
	--spacing-4: 4rem;        	/* 40px  */
	--spacing-line: calc(1em);	/* Whatever font size on element is */

	--wrapper-width: 102.4rem;  /* 1024px */

	--gutter-width: 1.5rem;   	/* 15px */
}
