/* 
	--- Main settings file ---
*/

/*
	-- Responsive -- 
	Breakpoints/Custom medias

*/
:root {
	--screen-xs_min: 25em;     /* 400px  */
	--screen-sm_min: 32rem;    /* 512px  */
	--screen-md_min: 48em;     /* 768px  */
	--screen-lg_min: 64em;     /* 1024px */
	--screen-xl_min: 90em;     /* 1440px */
	--screen-xxl_min: 120em;   /* 1920px */

	--screen-xs_max: 31.9375em;  /* 511px  */
	--screen-sm_max: 47.9375em;  /* 512px  */
	--screen-md_max: 63.9375em;  /* 768px  */
	--screen-lg_max: 89.9375em;  /* 1024px */
	--screen-xl_max: 119.9375em;       /* 1440px */
}

@custom-media --screen-xs-min (min-width: 25em);
@custom-media --screen-sm-min (min-width: 32rem);
@custom-media --screen-md-min (min-width: 48em);
@custom-media --screen-lg-min (min-width: 64em);
@custom-media --screen-xl-min (min-width: 90em);
@custom-media --screen-xxl-min (min-width: 120em;);

@custom-media --screen-xs-max (max-width: 31.9375em);
@custom-media --screen-sm-max (max-width: 47.9375em);
@custom-media --screen-md-max (max-width: 63.9375em);
@custom-media --screen-lg-max (max-width: 89.9375em);
@custom-media --screen-xl-max (max-width: 119.9375em);

/*
	--- Scale ---

*/
:root {
	--ratio: 1.25;

	--scale-n1: calc(1 / var(--ratio));
	--scale-0:  1;
	--scale-1:  var(--ratio);                       /* 1.25   */
	--scale-2:  calc(var(--ratio) * var(--scale-1)); /* 1.563  */
	--scale-3:  calc(var(--ratio) * var(--scale-2)); /* 1.953 */
	--scale-4:  calc(var(--ratio) * var(--scale-3)); /* 2.444 */
	--scale-5:  calc(var(--ratio) * var(--scale-4)); /* 3.052 */
	--scale-6:  calc(var(--ratio) * var(--scale-5)); /* 3.815 */
	--scale-7:  calc(var(--ratio) * var(--scale-6)); /* 4.768 */
}

/*
	--- Typography ---
	Size/weight
	Families
	Line height

*/
:root {
	--base-em: calc(1 * 1em);
	--base-px: 16px;

	--line-height: 1.5;
	--base-line-height: calc(var(--base-px) * var(--line-height));

	--font-size-n1: calc(var(--base-em) * var(--scale-n1));
	--font-size-1:  calc(var(--base-em) * var(--scale-0));
	--font-size-2:  calc(var(--base-em) * var(--scale-1));
	--font-size-3:  calc(var(--base-em) * var(--scale-2));
	--font-size-4:  calc(var(--base-em) * var(--scale-3));
	--font-size-5:  calc(var(--base-em) * var(--scale-4));
	--font-size-6:  calc(var(--base-em) * var(--scale-5));
	--font-size-7:  calc(var(--base-em) * var(--scale-6));
	--font-size-8:  calc(var(--base-em) * var(--scale-7));

	--font-weight-thin: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 600;

	--font-family-sans: Helvetica, Arial, sans-serif;
	--font-family-serif: Georgia, Cambria, Times, serif;
	--font-family-mono: Consolas, Courier, monospace;
	--font-family-heading: var(--font-family-serif);

}

/* 
	--- Layout ---
	Spacing
	Wrapper width
	Grid settings

*/
:root {

	--spacing-0: .25rem;    /* 4px   */
	--spacing-1: .5rem;     /* 8px   */
	--spacing-2: .75rem;    /* 12px  */
	--spacing-3: 1rem;      /* 26px  */
	--spacing-4: 1.25rem;   /* 20px  */

	--spacing-line: 1.5rem; /* 24px */

	--gutter-width: 1rem;
}


/* 
	--- Colors ---
	Basics
	Theme
	Error/warning/success
	Links
	Text
*/
:root {
	--color-white: #ffffff;
	--color-black: #000000;
 	--color-nearBlack: #141515;

 	--color-text: var(--color-nearBlack);
 	--color-text-light: #81858B;
 	--color-highlight: #FFFB90;
 	--color-code: #FFEDF4;
 	--color-link: #147BFF;
 	--color-link-hover: #147BFF;
 	--color-focus: #24FF6F;
}

/*
	--- Other --
	Border radius
	Box shadow
*/
:root {
	--border-width: 2px;
	--border-color: var(--color-text);
	--border-color-light: var(--color-text-light);

	--border-radius: 3px;
}
