/*
 * GEMMA/TYPOGRAPHIC SURFACES
 *
 * For changing typographic properties.
 *
 */

/* 
 * HEADINGS
 *
 * NOTE: If you change heading styles here, ensure they are also
 * changed in the respective element definitions.
 *
 */
.s-h6 { font-size: calc(var(--base-em) / var(--ms1)); }
.s-h5 { font-size: calc(var(--base-em) * var(--ms0)); }
.s-h4 { font-size: calc(var(--base-em) * var(--ms1)); }
.s-h3 { font-size: calc(var(--base-em) * var(--ms2)); letter-spacing: -0.02em;}
.s-h2 { font-size: calc(var(--base-em) * var(--ms3)); letter-spacing: -0.04em;}
.s-h1 { font-size: calc(var(--base-em) * var(--ms4)); letter-spacing: -0.06em;}


@media (--screen-md) {
  .s-h3 { font-size: calc(var(--base-em) * var(--ms3)); }
  .s-h2 { font-size: calc(var(--base-em) * var(--ms4)); }
  .s-h1 { font-size: calc(var(--base-em) * var(--ms5)); }
}
 
@media (--screen-xl) {
  .s-h2 { font-size: calc(var(--base-em) * var(--ms5)); }
  .s-h1 { font-size: calc(var(--base-em) * var(--ms6)); }
}

/*
 * FONT-SIZE
 */

.s-fsn1 { font-size: calc(var(--base-em) / var(--ms1)); };
.s-fs0 { font-size: calc(var(--base-em) * var(--ms0)); };
.s-fs1 { font-size: calc(var(--base-em) * var(--ms1)); };
.s-fs2 { font-size: calc(var(--base-em) * var(--ms2)); };
.s-fs3 { font-size: calc(var(--base-em) * var(--ms3)); };
.s-fs4 { font-size: calc(var(--base-em) * var(--ms4)); };
.s-fs5 { font-size: calc(var(--base-em) * var(--ms5)); };
.s-fs6 { font-size: calc(var(--base-em) * var(--ms6)); };
.s-fs7 { font-size: calc(var(--base-em) * var(--ms7)); };

/*
 * FONT-WEIGHT
 */
.s-100w { font-weight: 100; }
.s-200w { font-weight: 200; }
.s-300w { font-weight: 300; }
.s-400w { font-weight: 400; }
.s-500w { font-weight: 500; }
.s-600w { font-weight: 600; }
.s-700w { font-weight: 700; }
.s-800w { font-weight: 800; }
.s-900w { font-weight: 900; }

/*
 * LINE-HEIGHT
 */
.s-lh0{ line-height: calc(var(--base) * var(--ms0)); };
.s-lh1{ line-height: calc(var(--base) * var(--ms1)); };
.s-lh2{ line-height: calc(var(--base) * var(--ms2)); };
.s-lh3{ line-height: calc(var(--base) * var(--ms3)); };
/*
 * SMALL CAPS
 */

.s-smallCaps {
  font-size: 0.666em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
}

/*
 * LINK RESET
 *
 * Use this to remove the custom and fallback underline from links.
 * This should be used with caution, as links should not be indicated
 * to the user by way of colour alone.
 *
 */

.s-linkReset {
  background-image: none;
  text-decoration: none;
}
