button {
	background: none;
	border: 2px solid $color-coolGray-100;
	background: $color-coolGray-100;
	padding: calc(var(--sp-1) * .5) var(--sp-3);
	border-radius: 2px;
	letter-spacing: .05em;
	font-weight: 100;
	transition: border-color .1s, background-color .1s;

	&:hover {
		border-color: $color-coolGray-500;
	}
	&:active {
		background: $color-coolGray-300;
	}
}

button:focus {
	outline-width: 2px;
	outline-color: $color-aqua-300;
}

button:active:focus {
	outline-width: 0px;
}

button[disabled] {
	color: $color-coolGray-700;
	&:hover {
		border-color: $color-coolGray-100;
	}
	&:active {
		border-color: $color-coolGray-100;
	}
}

button.btn-primary {
	background: $color-primary;
	border-color: $color-primary;
	color: $color-white;
	&:hover {
		background: $color-primary-dark;
		border-color: $color-primary-dark;
	}
	&:active {
		background: $color-primary-darker;
		border-color: $color-primary-darker;
	}
}
button.btn-secondary {
	background: $color-secondary;
	border-color: $color-secondary;
	color: $color-white;
	&:hover {
		background: $color-secondary-dark;
		border-color: $color-secondary-dark;
	}
	&:active {
		background: $color-secondary-darker;
		border-color: $color-secondary-darker;
	}
}

button.btn-error {
	background: $color-red-300;
	border-color: $color-red-300;
	color: $color-white;
	&:hover {
		background: $color-red-300;
		border-color: $color-red-300;
	}
	&:active {
		background: $color-red-300;
		border-color: $color-red-300;
	}
}

button.btn-ghost {
	background: white;
	color: $color-coolGray-900;
	border-color: $color-coolGray-500;
	&:hover {
		border-color: $color-coolGray-700;
	}
}