input:not([type]),
input[type="email"], 
input[type="number"], 
input[type="password"],
input[type="search"],
input[type="text"], 
input[type="url"],
textarea {
	&:invalid {
		border-color: $color-red-500;
	}

	&:focus,&:invalid:focus {
		outline: none;
		border-color: $color-aqua-300;
	}
}