/*
	Here we set up the basis for the document 
*/

html {
	font-size: 100%;
	font-family: var(--font-family-sans);
}

body {
	/*font-size: var(--base-px);*/
	line-height: var(--line-height);
	color: var(--color-text);
	@media (--screen-lg-min) {
		font-size: 1.125em;
		/*font-size: calc(var(--base-px) * 1.125);*/
	}
}

/*
	---- Code and pre ---
*/
code, samp {
	display: inline-block;
	padding: 0 var(--spacing-1);

	font-family: var(--font-family-mono);
	font-size: .9em;

	background-color: var(--color-code);
	border-radius: var(--border-radius);
}

pre, samp {
	font-family: var(--font-family-mono);
	font-size: .9em;
}


/*
	---- Form Elements ---
*/
input:not([type="image"]) {
	margin-top: var(--spacing-0);
	margin-bottom: var(--spacing-0);
	border: 1px solid var(--border-color-light);
}

input[type="checkbox"],
input[type="color"],
input[type="file"],
input[type="image"],
input[type="radio"],
input[type="range"],
select {
	cursor: pointer;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	display: inline-block;
	width: auto;
}

input[type="image"],
input[type="range"],
input[type="color"]{
	vertical-align: middle;
}

input[type="range"] {
	border: none;
}

input[type="radio"] {
	margin-right: var(--spacing-0)
}

input[type="color"] {
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
}

input[type="file"] {
	max-width: 100%;
	line-height: 1em;
	vertical-align: text-bottom;
	height: calc(1em * var(--line-height));
	border: none;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	height: 1.75em;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .5em;
	padding-right: .5em;
	line-height: 1.25em;
	margin: 0;

	color: var(--color-text);
	border: 1px solid var(--border-color);
	background: #E6E6E6;
}

legend {
	font-size: calc(1em * var(--scale-1));
}

/* 
	--- Embedded ---
*/

img,
svg,
canvas,
audio,
video,
iframe,
embed {
	vertical-align: middle;
}


img,
svg,
canvas,
audio,
video,
iframe ,
embed,
object {
	max-width: 100%;
}

embed,
img,
video {
	height: auto;
}

img {
	font-style: italic;
	font-size: var(--font-size-n1);
}

figure {
	display: inline-block;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

figcaption {
	font-style: italic;
	font-size: var(--font-size-1);
}



/* 
  --- Headings ---

	Only apply this text-rendering value on headings, as applying it to large
	 * blocks of text can introduce performance issues 
	 * - from Gemma by Cole Peters
*/

 
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  margin-bottom: var(--spacing-2);
  font-family: var(--font-family-heading);
}

h6 { font-size: var(--font-size-n1); }
h5 { font-size: var(--font-size-1); }
h4 { font-size: var(--font-size-1); }
h3 { font-size: var(--font-size-2); }
h2 { font-size: var(--font-size-3); }
h1 { font-size: var(--font-size-4); }

@media (--screen-md-min) {
	h4 { font-size: var(--font-size-2); }
	h3 { font-size: var(--font-size-3); }
	h2 { font-size: var(--font-size-4); }
	h1 { font-size: var(--font-size-5); }
}

/*
	--- Horizontal Rule ---
*/

hr {
	width: 100%;
	height: 0;
	box-sizing: content-box;
	border-bottom: var(--border-width);
	border-color: var(--border-color);
	border-style: solid;
}

/*
	-- Interactive elements beyond forms --
*/

summary {
	font-size: calc(1em * var(--scale-1));
}

/* 
	--- Lists ---
*/

ul, ol {
	margin-bottom: var(--spacing-2);
	padding-left: calc(5 * var(--spacing-1));
}
dd {
	padding-left: var(--spacing-4)
}

/*
	--- Links --
*/
a, a:visited {
	color: var(--color-link);
	border-bottom: 2px solid transparent;
}
a, a:visited, a:hover {
	text-decoration: none;
}
a:focus, a:hover {
	color: var(--color-link-hover);
	outline: none;
	border-bottom: 2px solid currentColor;
}




/* 
	--- Paragraphs and Text ---
*/

p {
	margin-bottom: var(--spacing-line);
}

strong, b {
	font-weight: var(--font-weight-bold);
}

em, i, cite, dfn {
	font-style: italic;
}

del, s, strike {
	text-decoration: line-through;
}

mark {
	display: inline-block;
	padding: 0 var(--spacing-1);
	border-radius: var(--border-radius);
	background-color: var(--color-highlight);
	color: var(--color-black);
}

/* 
	--- Quotes ---

*/
blockquote {
	margin: var(--spacing-line) 0;
	padding: 0 var(--spacing-line);
	@media (--screen-sm-min) {
		padding: 0 calc(var(--spacing-line) * 1.5);
	}
}


/* 
	--- Tables --- 

*/

table {
	border-collapse: collapse;
	border: 2px solid var(--color-nearBlack);
}

th {
	font-weight: var(--font-weight-bold);
	border-bottom: 2px solid var(--color-nearBlack);
	box-sizing: content-box;
}

th,td {
	text-align: left;
	padding: var(--spacing-0) var(--spacing-3) var(--spacing-0) var(--spacing-1);
}
td {
	vertical-align: top;
}