html {
	font-size: 100%;
}

body {
	font-size: var(--font-size-1);
	line-height: var(--line-height);
	color: var(--color-text);
	@media (--screen-md-min) {
		font-size: calc(var(--font-size-1) * 1.125);
	}
}

p {
	margin-bottom: var(--spacing-line);
}