/*
	Default styles for HTML elements
*/

html {
	font-size: 62.5%;
	font-family: var(--fontFamily-sans);
}

body {
	font-size: var(--mobile-base-font-rem);
	line-height: var(--lineHeight);
	color: var(--color-text);
	@media (--screen-lg-min) {
		font-size: var(--base-font-rem);
	}
}

/*
	---- Code and pre ---
*/
code, samp {
	display: inline-block;
	padding: 0 var(--spacing-1);

	font-family: var(--fontFamily-mono);
	font-size: .9em;

	background-color: var(--color-code);
	border-radius: var(--borderRadius);
}

pre, samp {
	font-family: var(--fontFamily-mono);
	font-size: .9em;
}

pre {
	tab-size: 3;
}


/*
	---- Form Elements ---
*/
input:not([type="image"]) {
	margin-top: var(--spacing-half);
	margin-bottom: var(--spacing-half);
	border: 1px solid var(--borderColor-light);
}

input[type="checkbox"],
input[type="color"],
input[type="file"],
input[type="image"],
input[type="radio"],
input[type="range"],
select {
	cursor: pointer;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	display: inline-block;
	width: auto;
}

input[type="image"],
input[type="range"],
input[type="color"]{
	vertical-align: middle;
}

input[type="range"] {
	border: none;
}

input[type="radio"] {
	margin-right: var(--spacing-half)
}

input[type="color"] {
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
}

input[type="file"] {
	max-width: 100%;
	line-height: 1em;
	vertical-align: text-bottom;
	height: calc(1em * var(--lineHeight));
	border: none;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	height: auto;
	font-size: var(--base-font-rem);
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .5em;
	padding-right: .5em;
	line-height: 1.25em;
	margin: 0;

	color: var(--color-text);
	border: 1px solid var(--borderColor);
	background: #E6E6E6;
}

legend {
	font-size: calc(1em * var(--scale-1));
}

/* 
	--- Embedded ---
*/

img,
svg,
canvas,
audio,
video,
iframe,
embed {
	vertical-align: middle;
}


img,
svg,
canvas,
audio,
video,
iframe ,
embed,
object {
	max-width: 100%;
}

embed,
img,
video {
	height: auto;
}

img {
	font-style: italic;
	font-size: var(--fontSize-n1);
}

figure {
	display: inline-block;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

figcaption {
	font-style: italic;
	font-size: var(--fontSize-1);
}



/* 
  --- Headings ---

	Only apply this text-rendering value on headings, as applying it to large
	 * blocks of text can introduce performance issues 
	 * - from Gemma by Cole Peters

	Note: If you change the styles here, make sure to change the accompanying
		header class tyles in the utilities/_u-typography.css file
*/

 
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-family: var(--fontFamily-heading);
}

h6 { font-size: var(--fontSize-n1); margin-bottom: var(--spacing-1); }
h5 { font-size: var(--fontSize-1); margin-bottom: var(--spacing-2); }
h4 { font-size: var(--fontSize-2); margin-bottom: var(--spacing-2); }
h3 { font-size: var(--fontSize-3); margin-bottom: var(--spacing-2); }
h2 { font-size: var(--fontSize-4); margin-bottom: var(--spacing-2); }
h1 { font-size: var(--fontSize-5); margin-bottom: var(--spacing-3); }

@media (--screen-md-min) {
	h2 { margin-bottom: var(--spacing-3); }
}

@media (--screen-sm-max) {
	h6 { font-size: var(--mobile-fontSize-n1); }
	h5 { font-size: var(--mobile-fontSize-1); }
	h4 { font-size: var(--mobile-fontSize-2); }
	h3 { font-size: var(--mobile-fontSize-3); }
	h2 { font-size: var(--mobile-fontSize-4); }
	h1 { font-size: var(--mobile-fontSize-5); }
}

/*
	--- Horizontal Rule ---
*/

hr {
	width: 100%;
	height: 0;
	box-sizing: content-box;
	border-bottom: var(--borderWidth);
	border-color: var(--borderColor);
	border-style: solid;
}

/*
	-- Interactive elements beyond forms --
*/

summary {
	font-size: calc(1em * var(--scale-1));
}

/* 
	--- Lists ---
*/

ul, ol {
	margin-bottom: var(--spacing-2);
	padding-left: var(--spacing-2);
}
dd {
	padding-left: var(--spacing-2)
}

/*
	--- Links --
*/
a, a:visited {
	color: var(--color-link);
	border-bottom: 2px solid transparent;
}
a, a:visited, a:hover {
	text-decoration: none;
}
a:focus, a:hover {
	color: var(--color-link-hover);
	outline: none;
	border-bottom: 2px solid currentColor;
}




/* 
	--- Paragraphs and Text ---
*/

p {
	margin-bottom: var(--spacing-line);
}

strong, b {
	font-weight: var(--fontWeight-bold);
}

em, i, cite, dfn {
	font-style: italic;
}

del, s, strike {
	text-decoration: line-through;
}

mark {
	display: inline-block;
	padding: 0 var(--spacing-half);
	border-radius: var(--borderRadius);
	background-color: var(--color-highlight);
	color: var(--color-black);
}

/* 
	--- Quotes ---

*/
blockquote {
	margin: var(--spacing-2) 0;
	padding: 0 var(--spacing-1);
	@media (--screen-sm-min) {
		padding: 0 calc(var(--spacing-2));
	}
}


/* 
	--- Tables --- 

*/

table {
	border-collapse: collapse;
	border: 1px solid var(--color-nearBlack);
}

th {
	font-weight: var(--fontWeight-bold);
	border-bottom: 1px solid var(--color-nearBlack);
	box-sizing: content-box;
}

th,td {
	text-align: left;
	padding: var(--spacing-half) var(--spacing-line) var(--spacing-half) var(--spacing-half);
}
td {
	vertical-align: top;
}