/* Only apply this text-rendering value on headings, as applying it to large
 * blocks of text can introduce performance issues 
 * - from Gemma by Cole Peters
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  margin-bottom: var(--spacing-2);
  font-family: var(--font-family-heading);
}

h6 { font-size: var(--font-size-n1); }
h5 { font-size: var(--font-size-1); }
h4 { font-size: var(--font-size-1); }
h3 { font-size: var(--font-size-2); }
h2 { font-size: var(--font-size-3); }
h1 { font-size: var(--font-size-4); }

@media (--screen-md-min) {
	h4 { font-size: var(--font-size-2); }
	h3 { font-size: var(--font-size-3); }
	h2 { font-size: var(--font-size-4); }
	h1 { font-size: var(--font-size-5); }
}
