/*
	Utilities (Structure) -- Display

	Utility classes for display


	Formula:
		.u-display-{value}

		value = n (none), b (block), i(inline) or ib (inline-block)
		
*/

.u-display-n 	{ display: none; }
.u-display-b 	{ display: block; }
.u-display-i	{ display: inline; }
.u-display-ib	{ display: inline-block; }

@media (screen-sm-min) {
	._sm-u-display-n 	{ display: none; }
	._sm-u-display-b 	{ display: block; }
	._sm-u-display-i	{ display: inline; }
	._sm-u-display-ib	{ display: inline-block; }
}

@media (screen-md-min) {
	._md-u-display-n 	{ display: none; }
	._md-u-display-b 	{ display: block; }
	._md-u-display-i	{ display: inline; }
	._md-u-display-ib	{ display: inline-block; }
}

@media (screen-lg-min) {
	._lg-u-display-n 	{ display: none; }
	._lg-u-display-b 	{ display: block; }
	._lg-u-display-i	{ display: inline; }
	._lg-u-display-ib	{ display: inline-block; }
}