/*
	Utilities (Structure) -- Spacing

	Utility classes for padding and margin
	

	Formula:
		.u-{prop}{direction}{value}
	
		Example: .u-pv3 = padding, vertical (top and bottom), with spacing-3 value

	Breakpoint modifiers:
		_sm
		_md
		_lg
*/

.u-m0 		{ margin: 0; }
.u-mhalf 	{ margin: var(--spacing-half); }
.u-m1 		{ margin: var(--spacing-1); }
.u-m2 		{ margin: var(--spacing-2); }
.u-m3 		{ margin: var(--spacing-3); }
.u-m4 		{ margin: var(--spacing-4); }
.u-mline 	{ margin: var(--spacing-line); }
.u-mauto	{ margin: auto; }

.u-mt0 		{ margin-top: 0; }
.u-mthalf	{ margin-top: var(--spacing-half); }
.u-mt1 		{ margin-top: var(--spacing-1); }
.u-mt2 		{ margin-top: var(--spacing-2); }
.u-mt3 		{ margin-top: var(--spacing-3); }
.u-mt4 		{ margin-top: var(--spacing-4); }
.u-mtline 	{ margin-top: var(--spacing-line); }

.u-mr0 		{ margin-right: 0; }
.u-mrhalf 	{ margin-right: var(--spacing-half); }
.u-mr1 		{ margin-right: var(--spacing-1); }
.u-mr2 		{ margin-right: var(--spacing-2); }
.u-mr3 		{ margin-right: var(--spacing-3); }
.u-mr4 		{ margin-right: var(--spacing-4); }
.u-mrline 	{ margin-right: var(--spacing-line); }

.u-mbhalf 	{ margin-bottom: var(--spacing-half); }
.u-mb1 		{ margin-bottom: var(--spacing-1); }
.u-mb2 		{ margin-bottom: var(--spacing-2); }
.u-mb3 		{ margin-bottom: var(--spacing-3); }
.u-mb4 		{ margin-bottom: var(--spacing-4); }
.u-mbline 	{ margin-bottom: var(--spacing-line); }

.u-mlhalf 	{ margin-left: var(--spacing-half); }
.u-ml1 		{ margin-left: var(--spacing-1); }
.u-ml2 		{ margin-left: var(--spacing-2); }
.u-ml3 		{ margin-left: var(--spacing-3); }
.u-ml4 		{ margin-left: var(--spacing-4); }
.u-mlline 	{ margin-left: var(--spacing-line); }

.u-mvhalf 	{ margin-top: var(--spacing-half); margin-bottom: var(--spacing-half); }
.u-mv1 		{ margin-top: var(--spacing-1); margin-bottom: var(--spacing-1); }
.u-mv2 		{ margin-top: var(--spacing-2); margin-bottom: var(--spacing-2); }
.u-mv3 		{ margin-top: var(--spacing-3); margin-bottom: var(--spacing-3); }
.u-mv4 		{ margin-top: var(--spacing-4); margin-bottom: var(--spacing-4); }
.u-mvline 	{ margin-top: var(--spacing-line); margin-bottom: var(--spacing-line); }

.u-mhhalf 	{ margin-left: var(--spacing-half); margin-right: var(--spacing-half); }
.u-mh1 		{ margin-left: var(--spacing-1); margin-right: var(--spacing-1); }
.u-mh2 		{ margin-left: var(--spacing-2); margin-right: var(--spacing-2); }
.u-mh3 		{ margin-left: var(--spacing-3); margin-right: var(--spacing-3); }
.u-mh4 		{ margin-left: var(--spacing-4); margin-right: var(--spacing-4); }
.u-mhline 	{ margin-left: var(--spacing-line); margin-right: var(--spacing-line); }
.u-mhauto	{ margin-left: auto; margin-right: auto; }

.u-p0 		{ padding: 0; }
.u-phalf 	{ padding: var(--spacing-half); }
.u-p1 		{ padding: var(--spacing-1); }
.u-p2 		{ padding: var(--spacing-2); }
.u-p3 		{ padding: var(--spacing-3); }
.u-p4 		{ padding: var(--spacing-4); }
.u-pline 	{ padding: var(--spacing-line); }

.u-pt0 		{ padding-top: 0; }
.u-pthalf	{ padding-top: var(--spacing-half); }
.u-pt1 		{ padding-top: var(--spacing-1); }
.u-pt2 		{ padding-top: var(--spacing-2); }
.u-pt3 		{ padding-top: var(--spacing-3); }
.u-pt4 		{ padding-top: var(--spacing-4); }
.u-ptline 	{ padding-top: var(--spacing-line); }

.u-pr0 		{ padding-right: 0; }
.u-prhalf 	{ padding-right: var(--spacing-half); }
.u-pr1 		{ padding-right: var(--spacing-1); }
.u-pr2 		{ padding-right: var(--spacing-2); }
.u-pr3 		{ padding-right: var(--spacing-3); }
.u-pr4 		{ padding-right: var(--spacing-4); }
.u-prline 	{ padding-right: var(--spacing-line); }

.u-pbhalf 	{ padding-bottom: var(--spacing-half); }
.u-pb1 		{ padding-bottom: var(--spacing-1); }
.u-pb2 		{ padding-bottom: var(--spacing-2); }
.u-pb3 		{ padding-bottom: var(--spacing-3); }
.u-pb4 		{ padding-bottom: var(--spacing-4); }
.u-pbline 	{ padding-bottom: var(--spacing-line); }

.u-plhalf 	{ padding-left: var(--spacing-half); }
.u-pl1 		{ padding-left: var(--spacing-1); }
.u-pl2 		{ padding-left: var(--spacing-2); }
.u-pl3 		{ padding-left: var(--spacing-3); }
.u-pl4 		{ padding-left: var(--spacing-4); }
.u-plline 	{ padding-left: var(--spacing-line); }

.u-pvhalf 	{ padding-top: var(--spacing-half); padding-bottom: var(--spacing-half); }
.u-pv1 		{ padding-top: var(--spacing-1); padding-bottom: var(--spacing-1); }
.u-pv2 		{ padding-top: var(--spacing-2); padding-bottom: var(--spacing-2); }
.u-pv3 		{ padding-top: var(--spacing-3); padding-bottom: var(--spacing-3); }
.u-pv4 		{ padding-top: var(--spacing-4); padding-bottom: var(--spacing-4); }
.u-pvline 	{ padding-top: var(--spacing-line); padding-bottom: var(--spacing-line); }

.u-phhalf 	{ padding-left: var(--spacing-half); padding-right: var(--spacing-half); }
.u-ph1 		{ padding-left: var(--spacing-1); padding-right: var(--spacing-1); }
.u-ph2 		{ padding-left: var(--spacing-2); padding-right: var(--spacing-2); }
.u-ph3 		{ padding-left: var(--spacing-3); padding-right: var(--spacing-3); }
.u-ph4 		{ padding-left: var(--spacing-4); padding-right: var(--spacing-4); }
.u-phline 	{ padding-left: var(--spacing-line); padding-right: var(--spacing-line); }

@media (--screen-sm-min) {
	._sm-u-m0 		{ margin: 0; }
	._sm-u-mhalf 	{ margin: var(--spacing-half); }
	._sm-u-m1 		{ margin: var(--spacing-1); }
	._sm-u-m2 		{ margin: var(--spacing-2); }
	._sm-u-m3 		{ margin: var(--spacing-3); }
	._sm-u-m4 		{ margin: var(--spacing-4); }
	._sm-u-mline 	{ margin: var(--spacing-line); }
	._sm-u-mauto	{ margin: auto; }

	._sm-u-mt0 		{ margin-top: 0; }
	._sm-u-mthalf	{ margin-top: var(--spacing-half); }
	._sm-u-mt1 		{ margin-top: var(--spacing-1); }
	._sm-u-mt2 		{ margin-top: var(--spacing-2); }
	._sm-u-mt3 		{ margin-top: var(--spacing-3); }
	._sm-u-mt4 		{ margin-top: var(--spacing-4); }
	._sm-u-mtline 	{ margin-top: var(--spacing-line); }

	._sm-u-mr0 		{ margin-right: 0; }
	._sm-u-mrhalf 	{ margin-right: var(--spacing-half); }
	._sm-u-mr1 		{ margin-right: var(--spacing-1); }
	._sm-u-mr2 		{ margin-right: var(--spacing-2); }
	._sm-u-mr3 		{ margin-right: var(--spacing-3); }
	._sm-u-mr4 		{ margin-right: var(--spacing-4); }
	._sm-u-mrline 	{ margin-right: var(--spacing-line); }

	._sm-u-mbhalf 	{ margin-bottom: var(--spacing-half); }
	._sm-u-mb1 		{ margin-bottom: var(--spacing-1); }
	._sm-u-mb2 		{ margin-bottom: var(--spacing-2); }
	._sm-u-mb3 		{ margin-bottom: var(--spacing-3); }
	._sm-u-mb4 		{ margin-bottom: var(--spacing-4); }
	._sm-u-mbline 	{ margin-bottom: var(--spacing-line); }

	._sm-u-mlhalf 	{ margin-left: var(--spacing-half); }
	._sm-u-ml1 		{ margin-left: var(--spacing-1); }
	._sm-u-ml2 		{ margin-left: var(--spacing-2); }
	._sm-u-ml3 		{ margin-left: var(--spacing-3); }
	._sm-u-ml4 		{ margin-left: var(--spacing-4); }
	._sm-u-mlline 	{ margin-left: var(--spacing-line); }

	._sm-u-mvhalf 	{ margin-top: var(--spacing-half); margin-bottom: var(--spacing-half); }
	._sm-u-mv1 		{ margin-top: var(--spacing-1); margin-bottom: var(--spacing-1); }
	._sm-u-mv2 		{ margin-top: var(--spacing-2); margin-bottom: var(--spacing-2); }
	._sm-u-mv3 		{ margin-top: var(--spacing-3); margin-bottom: var(--spacing-3); }
	._sm-u-mv4 		{ margin-top: var(--spacing-4); margin-bottom: var(--spacing-4); }
	._sm-u-mvline 	{ margin-top: var(--spacing-line); margin-bottom: var(--spacing-line); }

	._sm-u-mhhalf 	{ margin-left: var(--spacing-half); margin-right: var(--spacing-half); }
	._sm-u-mh1 		{ margin-left: var(--spacing-1); margin-right: var(--spacing-1); }
	._sm-u-mh2 		{ margin-left: var(--spacing-2); margin-right: var(--spacing-2); }
	._sm-u-mh3 		{ margin-left: var(--spacing-3); margin-right: var(--spacing-3); }
	._sm-u-mh4 		{ margin-left: var(--spacing-4); margin-right: var(--spacing-4); }
	._sm-u-mhline 	{ margin-left: var(--spacing-line); margin-right: var(--spacing-line); }
	._sm-u-mhauto	{ margin-left: auto; margin-right: auto; }

	._sm-u-p0 		{ padding: 0; }
	._sm-u-phalf 	{ padding: var(--spacing-half); }
	._sm-u-p1 		{ padding: var(--spacing-1); }
	._sm-u-p2 		{ padding: var(--spacing-2); }
	._sm-u-p3 		{ padding: var(--spacing-3); }
	._sm-u-p4 		{ padding: var(--spacing-4); }
	._sm-u-pline 	{ padding: var(--spacing-line); }

	._sm-u-pt0 		{ padding-top: 0; }
	._sm-u-pthalf	{ padding-top: var(--spacing-half); }
	._sm-u-pt1 		{ padding-top: var(--spacing-1); }
	._sm-u-pt2 		{ padding-top: var(--spacing-2); }
	._sm-u-pt3 		{ padding-top: var(--spacing-3); }
	._sm-u-pt4 		{ padding-top: var(--spacing-4); }
	._sm-u-ptline 	{ padding-top: var(--spacing-line); }

	._sm-u-pr0 		{ padding-right: 0; }
	._sm-u-prhalf 	{ padding-right: var(--spacing-half); }
	._sm-u-pr1 		{ padding-right: var(--spacing-1); }
	._sm-u-pr2 		{ padding-right: var(--spacing-2); }
	._sm-u-pr3 		{ padding-right: var(--spacing-3); }
	._sm-u-pr4 		{ padding-right: var(--spacing-4); }
	._sm-u-prline 	{ padding-right: var(--spacing-line); }

	._sm-u-pbhalf 	{ padding-bottom: var(--spacing-half); }
	._sm-u-pb1 		{ padding-bottom: var(--spacing-1); }
	._sm-u-pb2 		{ padding-bottom: var(--spacing-2); }
	._sm-u-pb3 		{ padding-bottom: var(--spacing-3); }
	._sm-u-pb4 		{ padding-bottom: var(--spacing-4); }
	._sm-u-pbline 	{ padding-bottom: var(--spacing-line); }

	._sm-u-plhalf 	{ padding-left: var(--spacing-half); }
	._sm-u-pl1 		{ padding-left: var(--spacing-1); }
	._sm-u-pl2 		{ padding-left: var(--spacing-2); }
	._sm-u-pl3 		{ padding-left: var(--spacing-3); }
	._sm-u-pl4 		{ padding-left: var(--spacing-4); }
	._sm-u-plline 	{ padding-left: var(--spacing-line); }

	._sm-u-pvhalf 	{ padding-top: var(--spacing-half); padding-bottom: var(--spacing-half); }
	._sm-u-pv1 		{ padding-top: var(--spacing-1); padding-bottom: var(--spacing-1); }
	._sm-u-pv2 		{ padding-top: var(--spacing-2); padding-bottom: var(--spacing-2); }
	._sm-u-pv3 		{ padding-top: var(--spacing-3); padding-bottom: var(--spacing-3); }
	._sm-u-pv4 		{ padding-top: var(--spacing-4); padding-bottom: var(--spacing-4); }
	._sm-u-pvline 	{ padding-top: var(--spacing-line); padding-bottom: var(--spacing-line); }

	._sm-u-phhalf 	{ padding-left: var(--spacing-half); padding-right: var(--spacing-half); }
	._sm-u-ph1 		{ padding-left: var(--spacing-1); padding-right: var(--spacing-1); }
	._sm-u-ph2 		{ padding-left: var(--spacing-2); padding-right: var(--spacing-2); }
	._sm-u-ph3 		{ padding-left: var(--spacing-3); padding-right: var(--spacing-3); }
	._sm-u-ph4 		{ padding-left: var(--spacing-4); padding-right: var(--spacing-4); }
	._sm-u-phline 	{ padding-left: var(--spacing-line); padding-right: var(--spacing-line); }
}

@media (--screen-md-min) {
	._md-u-m0 		{ margin: 0; }
	._md-u-mhalf 	{ margin: var(--spacing-half); }
	._md-u-m1 		{ margin: var(--spacing-1); }
	._md-u-m2 		{ margin: var(--spacing-2); }
	._md-u-m3 		{ margin: var(--spacing-3); }
	._md-u-m4 		{ margin: var(--spacing-4); }
	._md-u-mline 	{ margin: var(--spacing-line); }
	._md-u-mauto	{ margin: auto; }

	._md-u-mt0 		{ margin-top: 0; }
	._md-u-mthalf	{ margin-top: var(--spacing-half); }
	._md-u-mt1 		{ margin-top: var(--spacing-1); }
	._md-u-mt2 		{ margin-top: var(--spacing-2); }
	._md-u-mt3 		{ margin-top: var(--spacing-3); }
	._md-u-mt4 		{ margin-top: var(--spacing-4); }
	._md-u-mtline 	{ margin-top: var(--spacing-line); }

	._md-u-mr0 		{ margin-right: 0; }
	._md-u-mrhalf 	{ margin-right: var(--spacing-half); }
	._md-u-mr1 		{ margin-right: var(--spacing-1); }
	._md-u-mr2 		{ margin-right: var(--spacing-2); }
	._md-u-mr3 		{ margin-right: var(--spacing-3); }
	._md-u-mr4 		{ margin-right: var(--spacing-4); }
	._md-u-mrline 	{ margin-right: var(--spacing-line); }

	._md-u-mbhalf 	{ margin-bottom: var(--spacing-half); }
	._md-u-mb1 		{ margin-bottom: var(--spacing-1); }
	._md-u-mb2 		{ margin-bottom: var(--spacing-2); }
	._md-u-mb3 		{ margin-bottom: var(--spacing-3); }
	._md-u-mb4 		{ margin-bottom: var(--spacing-4); }
	._md-u-mbline 	{ margin-bottom: var(--spacing-line); }

	._md-u-mlhalf 	{ margin-left: var(--spacing-half); }
	._md-u-ml1 		{ margin-left: var(--spacing-1); }
	._md-u-ml2 		{ margin-left: var(--spacing-2); }
	._md-u-ml3 		{ margin-left: var(--spacing-3); }
	._md-u-ml4 		{ margin-left: var(--spacing-4); }
	._md-u-mlline 	{ margin-left: var(--spacing-line); }

	._md-u-mvhalf 	{ margin-top: var(--spacing-half); margin-bottom: var(--spacing-half); }
	._md-u-mv1 		{ margin-top: var(--spacing-1); margin-bottom: var(--spacing-1); }
	._md-u-mv2 		{ margin-top: var(--spacing-2); margin-bottom: var(--spacing-2); }
	._md-u-mv3 		{ margin-top: var(--spacing-3); margin-bottom: var(--spacing-3); }
	._md-u-mv4 		{ margin-top: var(--spacing-4); margin-bottom: var(--spacing-4); }
	._md-u-mvline 	{ margin-top: var(--spacing-line); margin-bottom: var(--spacing-line); }

	._md-u-mhhalf 	{ margin-left: var(--spacing-half); margin-right: var(--spacing-half); }
	._md-u-mh1 		{ margin-left: var(--spacing-1); margin-right: var(--spacing-1); }
	._md-u-mh2 		{ margin-left: var(--spacing-2); margin-right: var(--spacing-2); }
	._md-u-mh3 		{ margin-left: var(--spacing-3); margin-right: var(--spacing-3); }
	._md-u-mh4 		{ margin-left: var(--spacing-4); margin-right: var(--spacing-4); }
	._md-u-mhline 	{ margin-left: var(--spacing-line); margin-right: var(--spacing-line); }
	._md-u-mhauto	{ margin-left: auto; margin-right: auto; }

	._md-u-p0 		{ padding: 0; }
	._md-u-phalf 	{ padding: var(--spacing-half); }
	._md-u-p1 		{ padding: var(--spacing-1); }
	._md-u-p2 		{ padding: var(--spacing-2); }
	._md-u-p3 		{ padding: var(--spacing-3); }
	._md-u-p4 		{ padding: var(--spacing-4); }
	._md-u-pline 	{ padding: var(--spacing-line); }

	._md-u-pt0 		{ padding-top: 0; }
	._md-u-pthalf	{ padding-top: var(--spacing-half); }
	._md-u-pt1 		{ padding-top: var(--spacing-1); }
	._md-u-pt2 		{ padding-top: var(--spacing-2); }
	._md-u-pt3 		{ padding-top: var(--spacing-3); }
	._md-u-pt4 		{ padding-top: var(--spacing-4); }
	._md-u-ptline 	{ padding-top: var(--spacing-line); }

	._md-u-pr0 		{ padding-right: 0; }
	._md-u-prhalf 	{ padding-right: var(--spacing-half); }
	._md-u-pr1 		{ padding-right: var(--spacing-1); }
	._md-u-pr2 		{ padding-right: var(--spacing-2); }
	._md-u-pr3 		{ padding-right: var(--spacing-3); }
	._md-u-pr4 		{ padding-right: var(--spacing-4); }
	._md-u-prline 	{ padding-right: var(--spacing-line); }

	._md-u-pbhalf 	{ padding-bottom: var(--spacing-half); }
	._md-u-pb1 		{ padding-bottom: var(--spacing-1); }
	._md-u-pb2 		{ padding-bottom: var(--spacing-2); }
	._md-u-pb3 		{ padding-bottom: var(--spacing-3); }
	._md-u-pb4 		{ padding-bottom: var(--spacing-4); }
	._md-u-pbline 	{ padding-bottom: var(--spacing-line); }

	._md-u-plhalf 	{ padding-left: var(--spacing-half); }
	._md-u-pl1 		{ padding-left: var(--spacing-1); }
	._md-u-pl2 		{ padding-left: var(--spacing-2); }
	._md-u-pl3 		{ padding-left: var(--spacing-3); }
	._md-u-pl4 		{ padding-left: var(--spacing-4); }
	._md-u-plline 	{ padding-left: var(--spacing-line); }

	._md-u-pvhalf 	{ padding-top: var(--spacing-half); padding-bottom: var(--spacing-half); }
	._md-u-pv1 		{ padding-top: var(--spacing-1); padding-bottom: var(--spacing-1); }
	._md-u-pv2 		{ padding-top: var(--spacing-2); padding-bottom: var(--spacing-2); }
	._md-u-pv3 		{ padding-top: var(--spacing-3); padding-bottom: var(--spacing-3); }
	._md-u-pv4 		{ padding-top: var(--spacing-4); padding-bottom: var(--spacing-4); }
	._md-u-pvline 	{ padding-top: var(--spacing-line); padding-bottom: var(--spacing-line); }

	._md-u-phhalf 	{ padding-left: var(--spacing-half); padding-right: var(--spacing-half); }
	._md-u-ph1 		{ padding-left: var(--spacing-1); padding-right: var(--spacing-1); }
	._md-u-ph2 		{ padding-left: var(--spacing-2); padding-right: var(--spacing-2); }
	._md-u-ph3 		{ padding-left: var(--spacing-3); padding-right: var(--spacing-3); }
	._md-u-ph4 		{ padding-left: var(--spacing-4); padding-right: var(--spacing-4); }
	._md-u-phline 	{ padding-left: var(--spacing-line); padding-right: var(--spacing-line); }
}

@media (--screen-lg-min) {
	._lg-u-m0 		{ margin: 0; }
	._lg-u-mhalf 	{ margin: var(--spacing-half); }
	._lg-u-m1 		{ margin: var(--spacing-1); }
	._lg-u-m2 		{ margin: var(--spacing-2); }
	._lg-u-m3 		{ margin: var(--spacing-3); }
	._lg-u-m4 		{ margin: var(--spacing-4); }
	._lg-u-mline 	{ margin: var(--spacing-line); }
	._lg-u-mauto	{ margin: auto; }

	._lg-u-mt0 		{ margin-top: 0; }
	._lg-u-mthalf	{ margin-top: var(--spacing-half); }
	._lg-u-mt1 		{ margin-top: var(--spacing-1); }
	._lg-u-mt2 		{ margin-top: var(--spacing-2); }
	._lg-u-mt3 		{ margin-top: var(--spacing-3); }
	._lg-u-mt4 		{ margin-top: var(--spacing-4); }
	._lg-u-mtline 	{ margin-top: var(--spacing-line); }

	._lg-u-mr0 		{ margin-right: 0; }
	._lg-u-mrhalf 	{ margin-right: var(--spacing-half); }
	._lg-u-mr1 		{ margin-right: var(--spacing-1); }
	._lg-u-mr2 		{ margin-right: var(--spacing-2); }
	._lg-u-mr3 		{ margin-right: var(--spacing-3); }
	._lg-u-mr4 		{ margin-right: var(--spacing-4); }
	._lg-u-mrline 	{ margin-right: var(--spacing-line); }

	._lg-u-mbhalf 	{ margin-bottom: var(--spacing-half); }
	._lg-u-mb1 		{ margin-bottom: var(--spacing-1); }
	._lg-u-mb2 		{ margin-bottom: var(--spacing-2); }
	._lg-u-mb3 		{ margin-bottom: var(--spacing-3); }
	._lg-u-mb4 		{ margin-bottom: var(--spacing-4); }
	._lg-u-mbline 	{ margin-bottom: var(--spacing-line); }

	._lg-u-mlhalf 	{ margin-left: var(--spacing-half); }
	._lg-u-ml1 		{ margin-left: var(--spacing-1); }
	._lg-u-ml2 		{ margin-left: var(--spacing-2); }
	._lg-u-ml3 		{ margin-left: var(--spacing-3); }
	._lg-u-ml4 		{ margin-left: var(--spacing-4); }
	._lg-u-mlline 	{ margin-left: var(--spacing-line); }

	._lg-u-mvhalf 	{ margin-top: var(--spacing-half); margin-bottom: var(--spacing-half); }
	._lg-u-mv1 		{ margin-top: var(--spacing-1); margin-bottom: var(--spacing-1); }
	._lg-u-mv2 		{ margin-top: var(--spacing-2); margin-bottom: var(--spacing-2); }
	._lg-u-mv3 		{ margin-top: var(--spacing-3); margin-bottom: var(--spacing-3); }
	._lg-u-mv4 		{ margin-top: var(--spacing-4); margin-bottom: var(--spacing-4); }
	._lg-u-mvline 	{ margin-top: var(--spacing-line); margin-bottom: var(--spacing-line); }

	._lg-u-mhhalf 	{ margin-left: var(--spacing-half); margin-right: var(--spacing-half); }
	._lg-u-mh1 		{ margin-left: var(--spacing-1); margin-right: var(--spacing-1); }
	._lg-u-mh2 		{ margin-left: var(--spacing-2); margin-right: var(--spacing-2); }
	._lg-u-mh3 		{ margin-left: var(--spacing-3); margin-right: var(--spacing-3); }
	._lg-u-mh4 		{ margin-left: var(--spacing-4); margin-right: var(--spacing-4); }
	._lg-u-mhline 	{ margin-left: var(--spacing-line); margin-right: var(--spacing-line); }
	._lg-u-mhauto	{ margin-left: auto; margin-right: auto; }

	._lg-u-p0 		{ padding: 0; }
	._lg-u-phalf 	{ padding: var(--spacing-half); }
	._lg-u-p1 		{ padding: var(--spacing-1); }
	._lg-u-p2 		{ padding: var(--spacing-2); }
	._lg-u-p3 		{ padding: var(--spacing-3); }
	._lg-u-p4 		{ padding: var(--spacing-4); }
	._lg-u-pline 	{ padding: var(--spacing-line); }

	._lg-u-pt0 		{ padding-top: 0; }
	._lg-u-pthalf	{ padding-top: var(--spacing-half); }
	._lg-u-pt1 		{ padding-top: var(--spacing-1); }
	._lg-u-pt2 		{ padding-top: var(--spacing-2); }
	._lg-u-pt3 		{ padding-top: var(--spacing-3); }
	._lg-u-pt4 		{ padding-top: var(--spacing-4); }
	._lg-u-ptline 	{ padding-top: var(--spacing-line); }

	._lg-u-pr0 		{ padding-right: 0; }
	._lg-u-prhalf 	{ padding-right: var(--spacing-half); }
	._lg-u-pr1 		{ padding-right: var(--spacing-1); }
	._lg-u-pr2 		{ padding-right: var(--spacing-2); }
	._lg-u-pr3 		{ padding-right: var(--spacing-3); }
	._lg-u-pr4 		{ padding-right: var(--spacing-4); }
	._lg-u-prline 	{ padding-right: var(--spacing-line); }

	._lg-u-pbhalf 	{ padding-bottom: var(--spacing-half); }
	._lg-u-pb1 		{ padding-bottom: var(--spacing-1); }
	._lg-u-pb2 		{ padding-bottom: var(--spacing-2); }
	._lg-u-pb3 		{ padding-bottom: var(--spacing-3); }
	._lg-u-pb4 		{ padding-bottom: var(--spacing-4); }
	._lg-u-pbline 	{ padding-bottom: var(--spacing-line); }

	._lg-u-plhalf 	{ padding-left: var(--spacing-half); }
	._lg-u-pl1 		{ padding-left: var(--spacing-1); }
	._lg-u-pl2 		{ padding-left: var(--spacing-2); }
	._lg-u-pl3 		{ padding-left: var(--spacing-3); }
	._lg-u-pl4 		{ padding-left: var(--spacing-4); }
	._lg-u-plline 	{ padding-left: var(--spacing-line); }

	._lg-u-pvhalf 	{ padding-top: var(--spacing-half); padding-bottom: var(--spacing-half); }
	._lg-u-pv1 		{ padding-top: var(--spacing-1); padding-bottom: var(--spacing-1); }
	._lg-u-pv2 		{ padding-top: var(--spacing-2); padding-bottom: var(--spacing-2); }
	._lg-u-pv3 		{ padding-top: var(--spacing-3); padding-bottom: var(--spacing-3); }
	._lg-u-pv4 		{ padding-top: var(--spacing-4); padding-bottom: var(--spacing-4); }
	._lg-u-pvline 	{ padding-top: var(--spacing-line); padding-bottom: var(--spacing-line); }

	._lg-u-phhalf 	{ padding-left: var(--spacing-half); padding-right: var(--spacing-half); }
	._lg-u-ph1 		{ padding-left: var(--spacing-1); padding-right: var(--spacing-1); }
	._lg-u-ph2 		{ padding-left: var(--spacing-2); padding-right: var(--spacing-2); }
	._lg-u-ph3 		{ padding-left: var(--spacing-3); padding-right: var(--spacing-3); }
	._lg-u-ph4 		{ padding-left: var(--spacing-4); padding-right: var(--spacing-4); }
	._lg-u-phline 	{ padding-left: var(--spacing-line); padding-right: var(--spacing-line); }
}
