/*
	Utilities (Structure) -- Z-Index

*/

.u-zi-n5 { z-index: -25; }
.u-zi-n4 { z-index: -20; }
.u-zi-n3 { z-index: -15; }
.u-zi-n2 { z-index: -10; }
.u-zi-n1 { z-index: -5; }
.u-zi-0 { z-index: 0; }
.u-zi-1 { z-index: 5; }
.u-zi-2 { z-index: 10; }
.u-zi-3 { z-index: 15; }
.u-zi-4 { z-index: 20; }
.u-zi-5 { z-index: 25; }